body {
    background-image: linear-gradient(to right, #57625d, #727d79, #8e9996, #acb6b4, #cbd4d3);
}

.input_group {
    width: 300px;
    height: 50px;
    margin: 40px 0 0;
    display: flex;
    flex-direction: column;
}


.form {
    border: 1px solid black;
    width: 300px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    box-shadow: 10px 5px 5px rgb(7, 0, 0);
    background-color: darkgray;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 20vh;
}

.four {
    margin-top: 40px;
}

.input_group input {
    font-size: 16px;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid skyblue;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.input_group input:focus {
    outline: none;
}

label {
    font-weight: bold;
    font-size: 20px;
}

button {
    padding: 10px;
    background-color: black;
    color: whitesmoke;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
}

.input_group .error {
    size: 12px;
    margin-top: 5px;
    color: red;
}

.input_group.success input {
    border-color: green;
    box-shadow: rgba(72, 211, 44, 0.185) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.input_group.error input {
    border-color: red;
    box-shadow: rgba(202, 36, 36, 0.308) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}