* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", serif;
    background: rgb(192, 195, 34);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
   background-image:url(./image/leaf.avif);
    border-radius: 30px;
    box-shadow: 0px 0px 20px grey;
    overflow: hidden;
    max-width: 100%;
    width: 400px;

}

.header {
    background-image:url(./image/pattern.avif);
    border-bottom: 1px solid grey;
    padding: 20px 40px;
}

.header h2 {
    margin: 0;
    text-align: center;
    color: white;
}

.form {
    padding: 30px 40px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    display: block;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.form-control input:focus {
    outline: none;
    border-color: #777;
}

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: red;
}

.form-control i {
    visibility: hidden;
    position: absolute;
    top: 40px;
    right: 10px;
}

.form-control.success i.fa-circle-check {
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i.fa-circle-exclamation {
    color: red;
    visibility: visible;
}

.form-control small {
    color: red;
    position: absolute;
    left: 0;
    bottom: 0;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}

.form button {
    background-color: #ebbd39;
    border: none;
    border-radius: 5px;
    color: black;
    display: block;
    font-size: 16px;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
}